@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Apply Roboto globally */
:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounceY {
  animation: bounceY 2s infinite;
}
