@import "tailwindcss";

:root {
  font-family: "Roboto";
}
body {
  margin: 0;
}
@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounceY {
  animation: bounceY 2s infinite;
}
